{% extends 'base.html.j2' %}

{% block title %}Sections Landing{% endblock %}

{% block body %}
<main class="mdl-grid" style="justify-content: center;">
  <h2 class="mdl-cell mdl-cell--10-col" style="text-align:center;margin: 20px;">Welcome to Sections!</h2>
  <p class="mdl-cell mdl-cell--10-col" style="margin-bottom: 20px; font-size: 20px;">
    Sign up for lab, discussion, and tutoring sections. Plus, keep track of attendance.
  </p>
  <p class="mdl-cell mdl-cell--10-col">
    As a course staff member, you can set up sections, import them from a spreadsheet, manage rosters, and take attendance. As a student, you can join sections and see your attendance history.
  </p>
  <p class="mdl-cell mdl-cell--10-col">
    Please login with bCourses to get started.
  </p>
  <div class="mdl-cell mdl-cell--10-col" style="display: flex; justify-content: center; align-items: center;">
    <a href="{{ url_for('login') }}"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Login
    </a>
  </div>
</main>
{% endblock %}
