{% extends 'base.html.j2' %}

{% macro offering_row(offering, link=true) %}
  <li class="mdl-list__item">
    <div style="width: 15%;">
    <span style="margin-right: 10px; color: #424242; font-weight: bold;"><small>{{ offering.start_month }}</small></span>
    </div>
    <div style="width: 85%;">
    {% if link %}
    <a class="mdl-list__item-primary-content" href="/offerings/{{ offering.canvas_id }}/">
      {{ offering.name }}
    </a>
    {% else %}
      {{ offering.name }}
    {% endif %}
    </div>
  </li>
{% endmacro %}

{% block body %}
<section class="rooms mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Staff Course Offerings</h4>
    <div>
      <p>The following course offerings that you are a staff member of already have Sections set up. You can now manage their sections. You can add more courses you are a staff member of by clicking the button below.
      </p>
    </div>
    <ul class="mdl-list">
    {% if staff_offerings_existing == [] %}
      <li class="mdl-list__item">
        You are not a staff member in any course offerings with Sections set up.
      </li>
    {% endif %}
    {% for offering in staff_offerings_existing %}
      {{ offering_row(offering) }}
    {% endfor %}
    </ul>
    <div style="display: flex; justify-content: center;">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ url_for('add_offerings') }}">Import courses from canvas</a>
    </div>
    <h4>Student Course Offerings</h4>
    <div>
      <p>The following course offerings that you are a student of already have Sections set up. You can now join sections and view your attendance. If you expect to see a course here but it is not here, your course staff have not yet set up Sections for the course. Contact your course staff.
      </p>
    </div>
    <ul class="mdl-list">
    {% if student_offerings_existing == [] %}
      <li class="mdl-list__item">
        You are not a student in any course offerings with Sections set up.
      </li>
    {% endif %}
    {% for offering in student_offerings_existing %}
      {{ offering_row(offering) }}
    {% endfor %}
    </ul>
    <h4>Other Course Offerings</h4>
    <div>
    <p>In the following course offerings you are neither a staff member nor a student, but Sections has been set up. You cannot do anything with these offerings.
    </p>
    </div>
    <ul class="mdl-list">
    {% if other_offerings_existing == [] %}
      <li class="mdl-list__item">
        There are no other course offerings with Sections set up.
      </li>
    {% endif %}
    {% for offering in other_offerings_existing %}
      {{ offering_row(offering, link=false) }}
    {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
